p {
    margin: 0;
}

.journal-item:hover {
    background-color: rgb(65, 60, 60);
}

.journal-item-name {
    font-size: 30px;
    color: white;
    text-align: left;
    margin: 20px 20px;
    margin-bottom: 10px;
}

.journal-item-body {
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding: 3px 20px;
    gap: 20px;
    margin-bottom: 20px;
}

.date {
    font-size: 20px;
    color: rgb(202, 202, 202);
}

.description {
    font-size: 20px;
    color: rgb(218, 217, 217);
}